.MuiAppBar-root {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.154);
    position: sticky;
    /* margin-top: -10px; */
    padding: 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /* opacity: 0.8; */
}

/* .makeblur {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
} */

.nav {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.cont {
    text-decoration: none;
    color: black;
}

/* 
.cont1 {
    text-decoration: none;
} */

/* .cont,
.cont1 {
    text-decoration: none;
} */

/* .cont1 {
    display: none;
} */
/* 
.avtr {
    display: none;
}

@media (max-width: 600px) {
    .cont1 {
        display: none;
    }

    .avtr {
        display: flex;
    }
}

@media (min-width: 601px) {
    .cont1 {
        display: flex;
    }

    .avtr {
        display: none;
    }
} */