@font-face {
    font-family: 'Nico Moji';
    src: url('../../assets/Fonts/NicoMoji-Regular.ttf') format('truetype');
    /* Adjust path if needed */
    font-weight: normal;
    font-style: normal;
}

.MuiAppBar-root {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.154);
    position: sticky;
    /* margin-top: -10px; */
    padding: 10px;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(10px);
    /* opacity: 0.8; */
}

.inlogocamp {
    font-family: 'Nico Moji', sans-serif;
}
