.HotalNameHome {
    font-size: 3rem;
    top: 40%;
    text-shadow: 2px 2px 6px rgba(255, 255, 255, 0.4);
}

.box-shadow-custom {
    box-shadow: 4px 8px 10px 1px rgba(123, 188, 176, 0.5);
}

.shadow-white-opaque {
    text-shadow: 2px 2px 6px rgba(255, 255, 255, 0.4);
}

.SearchField .MuiOutlinedInput-root {
    border-radius: 30px;
}