@font-face {
    font-family: 'Nico Moji';
    src: url('../../assets/Fonts/NicoMoji-Regular.ttf') format('truetype'); /* Adjust path if needed */
    font-weight: normal;
    font-style: normal;
  }
